<header class="header">
  <nav class="nav">
      <div class="logo">Asger Thyregod</div>
      <ul class="nav-links">
          <li><a href="#about" [smoothScroll]="'#about'">About</a></li>
          <li><a href="#experience" [smoothScroll]="'#experience'">Experience</a></li>
          <li><a href="#education" [smoothScroll]="'#education'">Education</a></li>
          <li><a href="#projects" [smoothScroll]="'#projects'">Projects</a></li>
          <li><a href="#contact" [smoothScroll]="'#contact'">Contact</a></li>
      </ul>
  </nav>
</header>
